<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frank Herbert</title>
</head>
<body>
    <h1>Frank Herbert</h1>
    <p>Frank Herbert a fost un scriitor american, cunoscut pentru seria de cărți *Dune*.</p>
    
    <div>
        <a href="/frankherbert/opere"><button>Operele lui Frank Herbert</button></a>
    </div>
    <div>
        <a href="/frankherbert/nastere"><button>Data nașterii și a morții</button></a>
    </div>
</body>
</html>

